<meta name="viewport" content="width=device-width, initial-scale=1.0">
<h1>This is the website of BrewDog's brewery</h1>
  <table>
    <tr *ngFor="let beer of beers | paginate
        : {
          itemsPerPage: tableSize,
          currentPage: page,
          totalItems: totalItems, 
        };
        let i = index"
        >
      <td class="toggle" (click)="onSelected(beer)">     
        <img *ngIf="beer.toggle" [src]="sanitizeImageURL(beer.image_url)"  style="height: 600px; width: 200px;">    
        <p *ngIf="!beer.toggle && selectedBeer">{{selectedBeer.description}}</p> 
        <p class="beerName"> {{beer.name}}</p>
      </td>
    </tr>
  </table>
  <div class="paginate">
    <pagination-controls
     previosLabel= "Prev"
     nextLabel="Next"
     (pageChange)="onTableDataChange($event)">
    </pagination-controls>
  </div>
  <div class="itemsPerPage">
     Items per Page:
    <select  (change)="onTableSizeChange($event)">
      <option *ngFor="let tableSize of tableSizes" [value]="tableSize">
        {{ tableSize }}
      </option>
    </select>
  </div>
 
  
        
    
